DATABASE_URL=postgresql://weekly:change-me@localhost:5432/weekly
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
APP_ENV=development
POSTGRES_USER=weekly
POSTGRES_PASSWORD=
POSTGRES_DB=weekly
APP_PORT=3000
REMINDER_ORGANIZATION_ID=
CALENDAR_YEAR=2026
